<style>


.formEditar{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
}
.formEditar h1{
    background: #43D1AF;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}
.formEditar input[type="text"],
.formEditar input[type="date"],
.formEditar input[type="datetime"],
.formEditar input[type="email"],
.formEditar input[type="number"],
.formEditar input[type="search"],
.formEditar input[type="time"],
.formEditar input[type="url"],
.formEditar textarea
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 50%;
    background: #fff;
    margin-bottom: 1%;
    border: 1px solid #ccc;
    padding: 1%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}

.formEditar input[type="text"]:focus,
.formEditar input[type="date"]:focus,
.formEditar input[type="datetime"]:focus,
.formEditar input[type="email"]:focus,
.formEditar input[type="number"]:focus,
.formEditar input[type="search"]:focus,
.formEditar input[type="time"]:focus,
.formEditar input[type="url"]:focus,
.formEditar textarea:focus,
.formEditar select:focus
{
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}

.formEditar input[type="submit"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 1%;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
}
.formEditar input[type="submit"]:hover{
    background: #2EBC99;
}
 

.boton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.boton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}



 
</style>